.banner{
    background: url('../../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.611);
    /* opacity: .6; */
    padding: 210px 0;
}

.banner .banner_h3{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: start;
}

.banner p{
    color: #fff;
}

/* services */
.services{
    background-color: #f2f2f2;
    min-height: 100vh;
    padding: 70px 0;
}

.service_item{
    padding: 30px;
    border: 1px solid rgb(230, 227, 227);
    margin: 10px;
    transition: .5s;
}

.service_item:hover{
    box-shadow: 0px 0px 7px 2px rgba(221,154,65,0.75);
-webkit-box-shadow: 0px 0px 7px 2px rgba(221,154,65,0.75);
-moz-box-shadow: 0px 0px 7px 2px rgba(221,154,65,0.75);
}

.service_item img{
    width: 50px;
    height: 60px;
    margin-right: 10px;
}


.services{
    min-height: 100vh;
}

.register, .login{
    min-height: 100vh;
}

.footer{
    background-color: rgb(19, 18, 18);
    color: #f2f2f2;
    text-align: left;
    padding: 20px 0;
}

.b_btn{
    background-color: rgb(221, 154, 65);
    border: 1px solid rgb(221, 154, 65);
    color: #f2f2f2;
    padding: 5px 25px;
    border-radius: 5px;
}


.contacts{
    padding: 70px 0;
}

.abouts{
    padding: 70px 0;
    text-align: left;
}

.inp_field{
    margin: 10px 0;
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid #b6b6b6;
}

.serItem{
    min-height: 100vh;
}